* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    padding: 0px;
}

.left {
    flex: 50%;
}

.right {
    padding: 10px;
    flex: 50%;
    background-color: darkgrey;
}

.form-error {
    color: red;
    font-style: italic;
    font-size: small;
}

/* Responsive layout - when the screen is less than 1024px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
    .left {
        flex: 100%;
    }

    .right {
        flex: 100%;
    }
}

.dot-wrapper {
    width: 36px;
    height: 36px;
    background: url(/images/nohole.png) no-repeat 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot-wrapper .dot {
    height: 75%;
    width: 75%;
}
.dot {
    position:relative;
    width: 23px;
    height: 23px;
    background-color: grey;
    border-radius: 50%;
    border: 1px solid transparent;
    display: inline-block;
}
.dot.red {
    background-color: #9c2436;
}
.dot.blue {
    background-color: #1c21f2;
}
.dot.yellow {
    background-color: #fcf853;
}

.dot.green {
    background-color: #30663d;
}

.dot.active {
    border: 2px solid black;
}

.dot.targeted {
    border: 2px solid springgreen;
}

.dot.stake:after {
    content: "o";
    position:absolute;
    top:auto;
    left:0;
    width:100%;
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 600;
}

.card {
    width: 150px;
    height: 200px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/playingCards.png);
    background-repeat: no-repeat;
}

.card.spades {
    background-position-y: 0px;
}
.card.clubs {
    background-position-y: -200px;
}
.card.diamonds {
    background-position-y: -400px;
}
.card.hearts {
    background-position-y: -600px;
}

.card.as {
    background-position-x: 0px;
}
.card.two {
    background-position-x: -150px;
}
.card.three {
    background-position-x: -300px;
}
.card.four {
    background-position-x: -450px;
}
.card.five {
    background-position-x: -600px;
}
.card.six {
    background-position-x: -750px;
}
.card.seven {
    background-position-x: -900px;
}
.card.eight {
    background-position-x: -1050px;
}
.card.nine {
    background-position-x: -1200px;
}
.card.ten {
    background-position-x: -1350px;
}
.card.jack {
    background-position-x: -1500px;
}
.card.queen {
    background-position-x: -1650px;
}
.card.king {
    background-position-x: -1800px;
}

.card.selectedCard {
    border: 2px solid springgreen;
}

input.play {
    background-color: darkgreen;
    font-size: xx-large;
    border-radius: 10px;
    color: white;
}
input.pass {
    background-color: darkred;
    font-size: xx-large;
    border-radius: 10px;
    color: white;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}
tr {
    line-height: 0;
}
td {
    margin: 0;
    padding: 0;
}