<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tock à 4 joueurs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/game.css">
    <script type="text/javascript" src="/js/game.js"></script>
</head>
<body>
    <div class="row">
        <div class="column left">
            <table>
                <tr th:each="row : ${gameBoardRows}">
                    <td th:each="cell : ${row.getCells()}">
                        <span th:if="${cell.isCenter()}">
                            <img th:src="${cell.getCenterImageSource()}" width="36" height="36" />
                        </span>
                        <span th:unless="${cell.isCenter()}" th:id="${cell.getTargetPawnPosition()}" class="dot-wrapper">
                            <span th:if="${cell.isHasHole() && cell.isHasEmptyHole()}" class="dot"></span>
                            <span th:if="${cell.isHasHole() && ! cell.isHasEmptyHole()}"
                                  th:class="${cell.getPawnCssClass()}"
                                  th:id="${cell.getPawnIdentifier()}"
                                  th:alt-title="${cell.getPawnPlayerTitle()}"
                                  th:attr="data-playernumber=${cell.getHolePawnPlayerNumber()},
                                           data-ispawnplayable=${cell.isPawnPlayable()},
                                           data-targetpawnposition=${cell.getTargetPawnPosition()}"
                                  th:onclick="onTogglePawn(this, this.getAttribute('data-playernumber'), this.getAttribute('data-ispawnplayable'), this.getAttribute('data-targetpawnposition'))">
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="column right">
            <h2>Etat de la partie</h2>
            <p>A qui le tour ?
                <span class="dot-wrapper">
                    <span th:class="'dot ' + ${currentPlayerPawnColor.toLowerCase()}" />
                </span>
            </p>
            <form action="#" th:action="@{/play}" th:object="${playRequest}" method="post">
                <input type="hidden" th:field="*{gameId}" />
                <input type="hidden" th:field="*{pawnNumber}" />
                <input type="hidden" th:field="*{targetPosition}" />
                <input type="hidden" th:field="*{card}" />

                <p>Déplacez un pion (en le selectionnant directement sur le plateau avec la souris)</p>
                <p><span th:if="${#fields.hasErrors('pawnNumber')}" class="form-error" th:errors="*{pawnNumber}" /></p>
                <p><span th:if="${#fields.hasErrors('global')}" class="form-error" th:errors="*{global}" /></p>
                <p><span th:if="${#fields.hasErrors('targetPosition')}" class="form-error" th:errors="*{targetPosition}" /></p>
                <p><span th:if="${#fields.hasErrors('card')}" class="form-error" th:errors="*{card}" /></p>

                <p>
                    Quelle carte souhaitez-vous jouer ?<br/>
                    <div>
                        <!--/*@thymesVar id="cardOpt" type="org.aforgues.tock.domain.Card"*/-->
                        <span th:each="cardOpt : ${T(org.aforgues.tock.domain.Card).values()}"
                              th:class="'card hearts ' + ${cardOpt.name().toLowerCase()}"
                              th:id="'card-hearts-' + ${cardOpt.name().toLowerCase()}"
                              th:attr="data-card=${cardOpt}"
                              th:onclick="onCardClick(this, this.getAttribute('data-card'))"></span>
                    </div>
                </p>

                <p>
                    <input class="play" type="submit" value="Jouer" />
                    &nbsp;&nbsp;
                    <input class="pass" type="submit" value="Passer" />
                </p>
            </form>

        </div>
    </div>

    <script th:inline="javascript">
        let currentPlayerColor = [[${currentPlayerPawnColor}]];
        restorePlayerChoices(currentPlayerColor);
    </script>
</body>
</html>